<h2>Athletes</h2>

<button (click)="openAddAthleteModal()">Add New Athlete</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Class Year</th>
      <th>Gender</th>
      <th>Fall Sport</th>
      <th>Winter Sport</th>
      <th>Spring Sport</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let athlete of athletes">
      <td>{{ athlete.athlete_id }}</td>
      <td>{{ athlete.first_name }} {{ athlete.last_name }}</td>
      <td>{{ athlete.class_year }}</td>
      <td>{{ athlete.gender }}</td>
      <td>{{ athlete.fall_sport || '--' }}</td>
      <td>{{ athlete.winter_sport || '--' }}</td>
      <td>{{ athlete.spring_sport || '--' }}</td>
      <td><button (click)="openEditAthleteModal(athlete)">✏️</button></td>
      <td><button (click)="deleteAthlete(athlete.athlete_id)">🗑️</button></td>
    </tr>
  </tbody>
</table>

<!-- Add/Edit Modal -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <h3>{{ isEditMode ? 'Edit' : 'Add New' }} Athlete</h3>
    <form (ngSubmit)="submitForm()">
      <label
        >First Name:
        <input
          [(ngModel)]="newAthlete.first_name"
          name="firstName"
          required
        /> </label
      ><br />
      <label
        >Last Name:
        <input
          [(ngModel)]="newAthlete.last_name"
          name="lastName"
          required
        /> </label
      ><br />
      <label
        >Class Year:
        <select [(ngModel)]="newAthlete.class_year" name="classYear">
          <option value="freshman">Freshman</option>
          <option value="sophomore">Sophomore</option>
          <option value="junior">Junior</option>
          <option value="senior">Senior</option>
        </select> </label
      ><br />
      <label
        >Gender:
        <select [(ngModel)]="selectedGender" name="gender">
          <option value="M">M</option>
          <option value="F">F</option>
        </select> </label
      ><br />
      <label>
        Fall Sport:
        <select [(ngModel)]="newAthlete.fall_sport_id" name="fall_sport">
          <option [ngValue]="null">--</option>
          <option
            *ngFor="let sport of sports[selectedGender]['Fall']"
            [ngValue]="sport.sport_id"
          >
            {{ sport.name }}
          </option>
        </select>
      </label>
      <label>
        Winter Sport:
        <select [(ngModel)]="newAthlete.winter_sport_id" name="winter_sport">
          <option
            *ngFor="let sport of sports[selectedGender]['Winter']"
            [ngValue]="sport.sport_id"
          >
            {{ sport.name }}
          </option>
        </select>
      </label>
      <label>
        Spring Sport:
        <select [(ngModel)]="newAthlete.spring_sport_id" name="spring_sport">
          <option
            *ngFor="let sport of sports[selectedGender]['Spring']"
            [ngValue]="sport.sport_id"
          >
            {{ sport.name }}
          </option>
        </select>
      </label>
      <button type="submit">{{ isEditMode ? 'Update' : 'Submit' }}</button>
      <button type="button" (click)="closeModal()">Cancel</button>
    </form>
  </div>
</div>
